.home-view-container{
  width: 95%;
}

.class-description{
  float: right;
  display: inline;
  margin-left: 5px
}

.incorrectInput{
  border-color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
